<?xml version="1.0"?>
<config>
	<modules>
		<Docebo_Docebo>
			<version>0.1.0</version>
		</Docebo_Docebo>
	</modules>
	<frontend>
		<routers>
			<docebo>
				<use>standard</use>
				<args>
					<module>Docebo_Docebo</module>
					<frontName>docebo</frontName>
				</args>
			</docebo>
		</routers>
		<layout>
			<updates>
				<docebo>
					<file>docebo.xml</file>
				</docebo>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<docebo>
				<use>admin</use>
				<args>
					<module>Docebo_Docebo</module>
					<frontName>docebo</frontName>
				</args>
			</docebo>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<docebo module="docebo">
				<title>Docebo</title>
				<sort_order>71</sort_order>
				<children>
					<items module="docebo">
						<title>Users</title>
						<sort_order>0</sort_order>
						<action>docebo/adminhtml_docebo</action>
					</items>
				</children>
			</docebo>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Docebo_Docebo>
							<title>Docebo Module</title>
							<sort_order>10</sort_order>
						</Docebo_Docebo>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<docebo>
					<file>docebo.xml</file>
				</docebo>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<models>
			<docebo>
				<class>Docebo_Docebo_Model</class>
				<resourceModel>docebo_mysql4</resourceModel>
			</docebo>
			<docebo_mysql4>
				<class>Docebo_Docebo_Model_Mysql4</class>
				<entities>
					<docebo>
						<table>docebo</table>
					</docebo>
				</entities>
			</docebo_mysql4>
		</models>
		<resources>
			<docebo_setup>
				<setup>
					<module>Docebo_Docebo</module>
					<class>Docebo_Docebo_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</docebo_setup>
			<docebo_write>
				<connection>
					<use>core_write</use>
				</connection>
			</docebo_write>
			<docebo_read>
				<connection>
					<use>core_read</use>
				</connection>
			</docebo_read>
		</resources>
		<blocks>
			<docebo>
				<class>Docebo_Docebo_Block</class>
			</docebo>
		</blocks>
		<helpers>
			<docebo>
				<class>Docebo_Docebo_Helper</class>
			</docebo>
		</helpers>
		<events>
			<!-- customer_login>
				<observers>
					<docebo_docebo_observer_login>
						<type>singleton</type>
						<class>docebo/observer_login</class>
						<method>test</method>
					</docebo_docebo_observer_login>
				</observers>
			</customer_login -->
			<sales_order_payment_pay>
				<observers>
					<docebo_docebo_observer_main>
						<type>singleton</type>
						<class>docebo/observer_main</class>
						<method>orderPayment</method>
					</docebo_docebo_observer_main>
				</observers>
			</sales_order_payment_pay>
			<!-- adminhtml_customer_save_after>
				<observers>
					<docebo_docebo_observer_main>
						<type>singleton</type>
						<class>docebo/observer_main</class>
						<method>customerSave</method>
					</docebo_docebo_observer_main>
				</observers>
			</adminhtml_customer_save_after -->
			<customer_save_after>
				<observers>
					<docebo_docebo_observer_main>
						<type>singleton</type>
						<class>docebo/observer_main</class>
						<method>customerSave</method>
					</docebo_docebo_observer_main>
				</observers>
			</customer_save_after>
			<customer_save_before>
				<observers>
					<docebo_docebo_observer_main>
						<type>singleton</type>
						<class>docebo/observer_main</class>
						<method>customerNew</method>
					</docebo_docebo_observer_main>
				</observers>
			</customer_save_before>
		</events>
	</global>
</config>